/* *{
    margin: 0px;
    padding: 0px
    
} */

.card{
    width: 550px;
    height: 310px;
    margin-top: 100px;
    border: solid;
    border-style: rgb(147, 215, 241);
    
}

.main{
    padding-left: 20px;
}
img{
    height: 30px;
}

.banner img{
    position: relative;
    top: 40px;
    height: 70px;
    margin: 10px
}

.banner{
    background-color: rgb(90, 121, 245);
    margin-bottom: 40px;
    
    
}

.name{
    font-size: xx-large;
}

.location{
    font-size: larger;
}
.content{
    font-size: x-large;
}